body {
  font-family: sans-serif;
}

header, main, footer {
  max-width: 640px;
  margin: auto;
  padding: 1rem 2rem;
}

a {
  color: var(--font-color);
  text-decoration-style: dotted;
}

img {
  max-width: 100%;
  height: auto;
}

.header-title {
  color: var(--font-color);
  text-decoration: none;
}